#addr{
    background-color: rgb(255,245,218);
    text-align: right;
    color: #f96400;
}
  
 #header{
      background-color: #1266cc;
}

.param-le{
    background-color: #1266cc;
    text-align: right;
}